<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <script src="{{ asset('build/bundle.js') }}"></script>
    {% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel=stylesheet type="text/css" href="{{ asset('build/node_modules/material-design-lite/material.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" /> {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
    {% block body %}{% endblock %}
    {% block javascripts %}
    <script src="{{ asset('js/mobycity.js') }}"></script>
    {% endblock %}
</body>

</html>
